

html {
  background-color: whitesmoke;
}

.Navigation{
    display: flex;
    flex-direction: row;
    background-color:rgb(235, 143, 173);
    align-items:center;
    justify-content:center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: x-large;
    margin-top: 10px;
}

.Navigation a{
    padding: 12px;
    color:#213e3f;
}


.Box {
    width: 250px;
    height: 310px;
    background-color: black;
    display: flex; 
    align-items: center; 
    justify-content: center; 
    flex-direction: column; 
    width: 100%; 
    text-align: center;  
    background-color: black;
}




#image {
    width: 100px;
    height: 100px;
    margin-top: 0px;
}
#Title  {
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 50px;
    font-weight: bold;

}

#Slogan {
    color:wheat;
    font-size: 25px;
    display: flex;
    justify-content: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    font-weight: lighter;
}

#Suggestionstitle {
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: wheat;
    text-indent: 10px;
    font-weight: normal;
    font-style: italic;
    
}
.Suggestions {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
    width: 500;
    height: 350px;
    background-color: gray;
    flex-wrap: wrap;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    
}
.photo1  img {
    width: 220px;
    height: 200px;
    margin-top: 50px;
    border-style: groove;

}

.photo2  img {
    width: 220px;
    height: 200px;  
    margin-top: 50px;
    border-style: groove;
}

.photo3  img {
    width: 220px;
    height: 200px;
    margin-top: 50px;
    border-style: groove;
}
